.card-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.pink {
  background-color: #f0cbdb;
}

.green {
  background-color: #2d564c;
}
.sky {
  background-color: #a2e3f3;
}

.blue {
  background-color: #75aae5;
}
.blake {
  background-color:  #a81d22
}
.blank{
  background-color:  #000131
}
.red{
  background-color:  #842220
}


